@import '~antd/dist/antd.css';
.g-header{
  widows: 100% ;
  padding:13px 20px;
  border-bottom: 1px solid #ebebeb;
}
.f-di{
  display: inline-block;
}
.f-fr{
  float: right;
}
.f-fl{
  float: left;
}
.clearFix:after{
  content:"";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  visibility: hidden;
}
.g-header .g-search{
  width: 200px;
}
.g-header .g-filter-letter{
  position: relative;
}
.g-filter-letter .list{
  position: absolute;
  width:400px;
  top:35px;
  left:0;
  background: #fff;
  padding:5px 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px #eee;
}
.g-filter-letter .list li{
  padding:5px 8px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.g-filter-letter .list li.active{
  background: #19be6b;
  color:#fff;
}
.g-filter-letter .list li:hover{
  background: #f3f3f3;
}
.g-breadcrumb{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #cadeee;
  padding-left: 20px;
  font-size: 13px;
}
.g-breadcrumb a{
  color:#19be6b;
}
.g-breadcrumb .separator{
  margin:0 5px;
}